/* app.css */
/* styles.css */

/* Paleta de colores otoñal */
:root {
  --color-fondo: #FFF8E7;
  /* Un tono claro de amarillo */
  --color-primario: #FFB347;
  /* Naranja suave */
  --color-secundario: #FFCC33;
  /* Amarillo brillante */
  --color-acento: #FF8C00;
  /* Naranja oscuro */
  --color-texto: #4B3F00;
  /* Marrón oscuro para el texto */
}

.App {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos globales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

h1,
h2,
h3 {
  color: var(--color-acento);
}

button {
  background-color: var(--color-primario);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color-acento);
}